$primaryBlack: #292929;
$primaryRed: #E74C3C;
$primaryWhite: #ffffff;
$primaryBlue: #2E3E45;
$secondaryBlue: #3A5258;
$primaryGrey: #85929E;


@import 'vendors/skeleton.css';
@import 'vendors/normalize.css';



