$primaryBlack: #292929;
$primaryRed: #E74C3C;
$primaryWhite: #ffffff;
$primaryBlue: #2E3E45;
$secondaryBlue: #3A5258;
$primaryGrey: #C6D0DA;
$primaryPurple: #443F6A;
$secondaryPurple: #97A7B8;
$primaryYellow: #F1C40F;
$primaryOrange: #F39C12;
$primaryGreen: #138D75;

@import 'vendors/skeleton.css';
@import 'vendors/normalize.css';



