@import 'base';
@import 'nav';

/* Mobile first queries */

.container {
    padding: 0;
}

.themeBox {
    color: #ffffff;
    margin: auto;
}

.themeBar {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.main-wrapper {
    height: auto;
    display: flex;
}

.content-main {
    height: auto;
    padding: 0;
    margin: auto;
}

.summary-container {
    height: auto;
    padding: 12px 12px;
    margin-bottom: 20px;
}

.summary-box-heading {
    margin: auto;
    font-weight: 900;
    color: #E74C3C;
    font-size: 3em;
    padding-bottom: 10px;
}

.summary-box-1 {
    height: auto;
    margin: auto;
    text-align: center;
}



