@import 'base';

.container {
    padding: 0;
}

.themeBox {
    color: $primaryWhite;
}

.themeBar {
    background-color: $primaryBlack;
}

.main-wrapper {
    background-color: $primaryBlue;
}

.content-main {
    background-color: $primaryBlue;
}

.summary-box-heading {
    color: $primaryRed;
}

.summary-box-1 {
    color: $primaryWhite;
}

.button:hover {
    color: $primaryRed;
}

.longHr {
    color: $secondaryBlue;
    background-color: $secondaryBlue;
}

.shortHr {
    color: $primaryRed;
    background-color: $primaryRed;
}

.button {
    color: $primaryWhite;
}

h4{
    color: $primaryWhite;
}

.ct-series-a .ct-line  {
         stroke: $primaryRed;
    }
    .ct-series-a .ct-point {
        stroke: $primaryRed;
}

.ct-series-b .ct-line  {
         stroke: $primaryBlue;
    }
    .ct-series-b .ct-point {
        stroke: $primaryBlue;
}

.ct-series-c .ct-line  {
         stroke: $primaryYellow;
    }

    .ct-series-c .ct-point {
        stroke: $primaryYellow;
}

/* Pie charts consist of solid slices where you can use this selector to override the default style. */
.ct-series-a .ct-slice-pie {
  /* fill of the pie slieces */
  fill: $primaryRed;
  /* give your pie slices some outline or separate them visually by using the background color here */

}

/* Pie charts consist of solid slices where you can use this selector to override the default style. */
.ct-series-b .ct-slice-pie {
  /* fill of the pie slieces */
  fill: $primaryOrange;
  /* give your pie slices some outline or separate them visually by using the background color here */

}



