@import 'base';

.container {
    padding: 0;
}

.themeBox {
    color: $primaryWhite;
}s

.themeBar {
    background-color: $primaryBlack;
}

.main-wrapper {
    background-color: $primaryGrey;
}

.content-main {
    background-color: $primaryGrey;
}

.summary-box-heading {
    color: $primaryRed;
}

.summary-box-1 {
    color: $primaryWhite;
}

.button {
    color: $primaryWhite;
}

.button:hover {
    color: $primaryBlue;
}

.longHr {
    color: $secondaryBlue;
    background-color: $secondaryBlue;
}

.shortHr {
    color: $primaryRed;
    background-color: $primaryRed;
}

h4 {
    color: $primaryBlack;
}

h2 {
    color: $primaryRed;
}

.button {
    color: $primaryWhite;
}
