@import 'base';

.container {
    padding: 0;
}

.themeBox {
    color: $primaryWhite;
}

.themeBar {
    background-color: $primaryBlack;
}

.main-wrapper {
    background-color: $primaryGrey;
}

.content-main {
    background-color: $primaryGrey;
}

.summary-box-heading {
    color: $primaryPurple;
}

.summary-box-1 {
    color: $primaryBlack;
}

.button {
    color: $primaryWhite;
}

.button:hover {
    color: $primaryBlue;
}

.longHr {
    color: $secondaryPurple;
    background-color: $secondaryPurple;
}

.shortHr {
    color: $primaryPurple;
    background-color: $primaryPurple;
}


.button {
    color: $primaryWhite;
}

h1 {
    color: $primaryPurple;
}

h4{
    color: $primaryBlack;
}








